<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <h1 class="title"><span style="color: #000000;">USERS</span> ADMIN</h1>
      <a style="color:#ffffff;" class="btn btn-blue btn-primary mb-3" (click)="addUser()">ADD USER</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td><button type="button" class="btn btn-blue btn-primary" (click)="viewUser(user.id)">Show Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <app-adduser *ngIf="action === 'add'" [user]="selectedUser" (userAddedEvent)="refreshData()"></app-adduser>
      <app-viewuser *ngIf="action === 'view'" [user]="selectedUser" (userDeletedEvent)="refreshData()"></app-viewuser>
    </div>
  </div>
</div>
