<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <h1 class="title"><span style="color: #000000;">SHOES</span> ADMIN</h1>
      <a style="color:#ffffff;" class="btn btn-blue btn-primary mb-3" (click)="addShoe()">Add New Shoe</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Shoe Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shoe of shoes">
            <td>{{shoe.id}}</td>
            <td>{{shoe.name}}</td>
            <td>
              <button type="button" class="btn btn-blue btn-primary" (click)="viewShoe(shoe.id)"> Show Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <app-viewshoe *ngIf="action === 'view'" [shoe]="selectedShoe" (shoeDeleEvent)="refreshData()"></app-viewshoe>
      <app-addshoe *ngIf="action === 'edit' || action === 'add'" [shoe]="selectedShoe" (shoeAddedEvent)="refreshData()"></app-addshoe>
    </div>
  </div>
</div>
