<div class="top-bar">
</div>
<header>
    <nav class="navbar navbar-expand-md navbar-dark menubar">
        <div class="container">
        <div><a routerLink="/" class="navbar-brand"><img src="https://raw.githubusercontent.com/Nickswagg/sneakersrepo/master/FYK_800.png" alt="FYK Logo" width="auto" height="130"></a></div>
        <ul class="navbar-nav">
        <li><a class="nav-link" routerLink="/shop">Start Shopping </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Administrator
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/admin/users" class="dropdown-item">Users</a>
                    <a routerLink="/admin/shoes" class="dropdown-item">Shoes</a>
                </div>
            </li>
        </ul>
    </div>
    </nav>
</header>
