<div class="container-fluid banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="margin-top: -170px; margin-left: -120px;">
                  <h2 class="title">WE ARE MUCH MORE</h2>
                  <h2 class="title-two">THAN A BRAND. </h2>
                  <p style="font-size: 22px; margin-top: 20px;">We are the number one sneaker marketplace online.</p>
                  <a routerLink="/shop"><button type="button" class="btn btn-blue btn-primary btn-lg">VIEW OUR SHOP</button></a>
                </div>
            
        </div>
    </div>
</div>
